.block {
  padding-top: 90px;
  padding-bottom: 90px;
}

.block__wrap {
  display: flex;
  justify-content: space-between;
}

.block__img {
  width: 384px;
  
  img {
    display: block;
  }
}

.block__info {
  width: ~"calc(100% - 470px)";
}

.block__btn {
  margin-top: 40px;
}

.block__list {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 55px;
}

.block__item {
  width: 300px;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #3a3c3e;
  
  p {
    margin: 0;
    width: 120px;
  }
}

.block__icon {
  width: 75px;
  height: 75px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid rgb(135, 135, 135);
}
