.footer {
  color: #fff;
  font-size: 14px;
  background-color: #3a3c3e;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .phone--call {
    margin-right: 0;
  }
}

.footer__comment {
  margin: 0;
}

.footer__text {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 45px;
}
