.variants {
  padding-bottom: 100px;
  
  .title {
    letter-spacing: 0.1em;
  }
}

.variants__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
}

.variants__block {
  width: 45%;
}

.variants__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.variants__big {
  width: 100%;
}

.variants__small {
  width: 100px;
}
